type: yml

source:
  http_server:
    port: 8090
    network: "tcp"
scylladb:
  hosts:
    - 127.0.0.1:9042
  keyspace: ormus
redis:
  port: 6379
  host: 127.0.0.1
  db: 0
  password: ""
etcd:
  port: 2379
  host: 127.0.0.1
  dial_timeout: 5
destination:
  debug_mode: true
  consumer_topic: "pe.#"    # pe stands for processed event. and # substitute for zero or more words.
  rabbitmq_consumer_connection:
    user: guest
    password: guest
    host: 127.0.0.1
    port: 5672
    vhost:
    reconnect_second: 5
  rabbitmq_task_manager_connection:
    user: guest
    password: guest
    host: 127.0.0.1
    port: 5672
  redis_task_idempotency:
    port: 6379
    host: 127.0.0.1
    db: 0
    password: ""
    prefix: "destination-task-status::"
    expiration: 0
  otel:
    endpoint: "otel_collector:4317"
    service_name: "destination"
    enable_metric_expose: true
    metric_expose_port: 8081
    metric_expose_path: "metrics"
swagger:
  expose: true
  port: 8081
  manager:
    version: v0.0.1
    host: manager.ormus.local
    base_path: /
    title: "Ormus: manager API"
    description: "API documentation for manager service."
    info_instance_name: ormus/manager
  source:
    version: v0.0.1
    host: source.ormus.local
    base_path: /
    title: "Ormus: source API"
    description: "API documentation for source service."
    info_instance_name: ormus/source

manager:
  application:
    port: 8080


  internal_broker_config:
    channel_size: 100
    number_instant: 5
    max_retry_policy: 5
  jwt_config:
    secret_key: "Ormus_jwt"
    access_expiration_time_in_day: 604800 # 7 * 24 * 3600
    refresh_expiration_time_in_day: 2419200  # 28 * 24 * 3600
    access_subject: "ac"
    refresh_subject: "rt"
  scylla_db_config:
    hosts:
      - 127.0.0.1:9042
    consistency: 4  # Quorum
    keyspace: "manager"
    timeout_cluster: 5s
    num_retries: 10
    min_retry_delay: 1s
    max_retry_delay: 10s


